<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Buildit</h2>
	</div>

	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a type="href" href="#/home"> Home </a></li>
			<li role="presentation"><a type="href" href="#/plants">Plants</a></li>
			<li role="presentation"><a type="href" href="#/phrs">Plant Hire Requests</a></li>
			<li role="presentation"><a type="href" href="#/pos">Purchase Orders</a></li>
			<li role="presentation"><a type="href" href="#/invoices">Invoices</a></li>
			<li role="presentation"><a type="href" href="#/status">Check PHR Status</a></li>
			<li role="presentation"><a type="href" href="#/notifications">Notifications</a></li>
		</ul>
	</nav>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><b>List Plant Hire Requests</b></div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Cost</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phr in phrs">
                    <td>
                        <button ng-click="findPlant(phr.plantRef)">
                            Inspect plant
                        </button>
                    </td>
                    <td>{{phr.startDate}}</td>
                    <td>{{phr.endDate}}</td>
                    <td>{{phr.price}}</td>
                    <td>
                        <button class="btn btn-xs" ng-repeat="link in phr._links"
                            ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
                            ng-click="follow(link,phr)">
                            {{link.rel}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a type="button" class="btn btn-default" href="#/phrs/create">
        Create a Plant Hire Request
    </a>
</div>
        <div ng-show="plantShown">
        <div class="panel-heading"><b>Plant Details</b></div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{plant.name}}</td>
                        <td>{{plant.description}}</td>
                        <td>{{plant.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
