<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Buildit</h2>
	</div>

	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a type="href" href="#/home"> Home </a></li>
			<li role="presentation"><a type="href" href="#/plants">Plants</a></li>
			<li role="presentation"><a type="href" href="#/phrs">Plant Hire Requests</a></li>
			<li role="presentation"><a type="href" href="#/pos">Purchase Orders</a></li>
			<li role="presentation"><a type="href" href="#/invoices">Invoices</a></li>
			<li role="presentation"><a type="href" href="#/status">Check PHR Status</a></li>
			<li role="presentation"><a type="href" href="#/notifications">Notifications</a></li>
		</ul>
	</nav>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><b>Update Plant Hire Request</b></div>
    <div class="panel-body">

        <form class="form-horizontal" >
            <div class="form-group">
                <label for="startDate" class="col-sm-2 control-label">Start date: </label>
                <input id="StartDateID" type="date" ng-model="startDate"></input>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">End date: </label>
                <input id="EndDateID" type="date" ng-model="endDate"></input>
            </div>
            <button id="SubmitButtonID" class="btn btn-default" ng-click="submit()">
                Submit
            </button>
        </form>
     </div>
</div>