<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Buildit</h2>
	</div>

	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a type="href" href="#/home"> Home </a></li>
			<li role="presentation"><a type="href" href="#/plants">Plants</a></li>
			<li role="presentation"><a type="href" href="#/phrs">Plant Hire Requests</a></li>
			<li role="presentation"><a type="href" href="#/pos">Purchase Orders</a></li>
			<li role="presentation"><a type="href" href="#/invoices">Invoices</a></li>
			<li role="presentation"><a type="href" href="#/status">Check PHR Status</a></li>
			<li role="presentation"><a type="href" href="#/notifications">Notifications</a></li>
		</ul>
	</nav>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><b>List of Plants</b></div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="plant in plants">
					<td>{{plant.name}}</td>
					<td>{{plant.description}}</td>
					<td>{{plant.price}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
